<app-navbar></app-navbar>

<div class="mt-4 row">
  <div class="col"></div>

  <div class="col-9">
    <div class="mb-5">
      <h1>Raw materials</h1>
    </div>

    <div class="mb-5">
      <div class="d-flex justify-content-between">
        <div class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchName">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                  (click)="search()"
                  [disabled]="searchName == ''">Search</button>
        </div>
        <div></div>
        <button class="btn btn-sm btn-outline-info" type="button" (click)="create()">New</button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Supplier</th>
        <th scope="col">Score</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rawMaterial of rawMaterials">
        <td>
          <a href="/rawmaterials/{{rawMaterial.id}}">
            {{rawMaterial.name}}
          </a>
        </td>
        <td>{{rawMaterial.category}}</td>
        <td>{{rawMaterial.supplier}}</td>
        <td>{{rawMaterial.score}}</td>
        <td>
          <button class="btn btn-sm" (click)="edit(rawMaterial.id)">
            <img src="/assets/edit.png" width="25" height="25" alt="edit logo">
          </button>
          <button class="btn btn-sm" (click)="delete(rawMaterial.id)">
            <img src="/assets/delete.png" width="25" height="25" alt="delete logo">
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="prevPage == null ? 'disabled' : ''">
          <a class="page-link" (click)="getRawMaterials(prevPage, searchName)">Previous</a>
        </li>
        <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
          <li class="page-item" [ngClass]="i+1 == currentPage ? 'active' : ''">
            <a class="page-link" (click)="getRawMaterials(i+1, searchName)">{{i+1}}</a>
          </li>
        </ng-container>
        <li class="page-item" [ngClass]="nextPage == null ? 'disabled' : ''">
          <a class="page-link" (click)="getRawMaterials(nextPage, searchName)">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col"></div>
</div>
